<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="RiddlesOfTheDuergarQuarry.Game.Module, RiddlesOfTheDuergarQuarry, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Author" value="Michael Penner" />
            <Simple name="VolLabel" value="MP-003" />
            <Simple name="SerialNum" value="011" />
            <Simple name="LastMod" value="2021-01-02T09:21:00.2324754-08:00" />
            <Simple name="IntroStory" value="200" />
            <Simple name="NumDirs" value="12" />
            <Simple name="NumRooms" value="1" />
            <Simple name="NumArtifacts" value="0" />
            <Simple name="NumEffects" value="18" />
            <Simple name="NumMonsters" value="0" />
            <Simple name="NumHints" value="2" />
            <Simple name="NumTriggers" value="0" />
            <Simple name="NumScripts" value="0" />
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="Riddles of the Duergar Quarry" />
            <Simple name="Desc" value="Mount Everdes, an extinct volcano located in the Horn Belt's southern reaches, is mostly unexplored.  But Eamon University's Department of Archaeology has made a compelling discovery on its steppes and requires assistance to quantify the site's **250" />
            <Null name="Synonyms" />
            <Simple name="Seen" value="False" />
            <Simple name="ArticleType" value="None" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>