<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="Eamon.Game.Module, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Author" value="Bob Davis" />
            <Simple name="VolLabel" value="BD-001" />
            <Simple name="SerialNum" value="008" />
            <Simple name="LastMod" value="01/04/2018 17:42:04" />
            <Simple name="IntroStory" value="49" />
            <Simple name="NumDirs" value="6" />
            <Simple name="NumRooms" value="69" />
            <Simple name="NumArtifacts" value="76" />
            <Simple name="NumEffects" value="85" />
            <Simple name="NumMonsters" value="26" />
            <Simple name="NumHints" value="16" />
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="Wrenhold's Secret Vigil" />
            <Simple name="Desc" value="Journey to uncover the source of the blight afflicting the realm of the good King Argas.  This amazing, multi-faceted game asks you to solve a mystery, but in doing so puts you in a moral quandary.  Given **047" />
            <Null name="Synonyms" />
            <Simple name="Seen" value="False" />
            <Simple name="ArticleType" value="None" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>