<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="Eamon.Game.Module, Eamon, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="The Sub-Aquan Laboratory" />
            <Simple name="Desc" value="Adventure in post-holocaust 25th century America!  This scenario takes place in what was once Northern Michigan.  Can you solve the mystery of the Golden Marauders before more villages fall to their onslaught?  **106" />
            <Simple name="Author" value="Michael R. Penner" />
            <Simple name="VolLabel" value="MRP-001" />
            <Simple name="SerialNum" value="004" />
            <Simple name="LastMod" value="03/26/2017 15:34:42" />
            <Simple name="IntroStory" value="82" />
            <Simple name="NumDirs" value="10" />
            <Simple name="NumRooms" value="54" />
            <Simple name="NumArtifacts" value="107" />
            <Simple name="NumEffects" value="110" />
            <Simple name="NumMonsters" value="22" />
            <Simple name="NumHints" value="7" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>