<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="Eamon.Game.Module, Eamon, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="Stronghold of Kahr-Dur" />
            <Simple name="Desc" value="The long-abandoned mountain fortress Kahr-Dur is haunted by a terrible menace.  Many people from the nearby city of Fahrnor have disappeared into the night, your niece Mirabelle among them.  Original Eamon Deluxe adventure EDX-24 **081" />
            <Simple name="Author" value="Derek C. Jeter" />
            <Simple name="VolLabel" value="DCJ-001" />
            <Simple name="SerialNum" value="004" />
            <Simple name="LastMod" value="03/26/2017 11:22:22" />
            <Simple name="IntroStory" value="82" />
            <Simple name="NumDirs" value="6" />
            <Simple name="NumRooms" value="109" />
            <Simple name="NumArtifacts" value="28" />
            <Simple name="NumEffects" value="89" />
            <Simple name="NumMonsters" value="26" />
            <Simple name="NumHints" value="16" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>