<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="TheVileGrimoireOfJaldial.Game.Module, TheVileGrimoireOfJaldial, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Author" value="Michael R. Penner" />
            <Simple name="VolLabel" value="MRP-002" />
            <Simple name="SerialNum" value="009" />
            <Simple name="LastMod" value="2019-12-29T07:12:35.0821987-08:00" />
            <Simple name="IntroStory" value="0" />
            <Simple name="NumDirs" value="10" />
            <Simple name="NumRooms" value="121" />
            <Simple name="NumArtifacts" value="61" />
            <Simple name="NumEffects" value="28" />
            <Simple name="NumMonsters" value="50" />
            <Simple name="NumHints" value="2" />
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="The Vile Grimoire of Jaldi'al" />
            <Simple name="Desc" value="TODO" />
            <Null name="Synonyms" />
            <Simple name="Seen" value="False" />
            <Simple name="ArticleType" value="None" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>