<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="Eamon.Game.Module, Eamon, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Author" value="Michael Penner" />
            <Simple name="VolLabel" value="MP-002" />
            <Simple name="SerialNum" value="010" />
            <Simple name="LastMod" value="2020-05-28T18:48:55.2325616-07:00" />
            <Simple name="IntroStory" value="135" />
            <Simple name="NumDirs" value="12" />
            <Simple name="NumRooms" value="121" />
            <Simple name="NumArtifacts" value="63" />
            <Simple name="NumEffects" value="172" />
            <Simple name="NumMonsters" value="50" />
            <Simple name="NumHints" value="16" />
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="The Vile Grimoire of Jaldi'al" />
            <Simple name="Desc" value="A nameless graveyard near the ruins of Bahyrst has become a wellspring for all manner of dark creatures.  Legends hold deep in one of the crypts lurks an evil presence.  It exerts a malign influence on the area, **167" />
            <Null name="Synonyms" />
            <Simple name="Seen" value="False" />
            <Simple name="ArticleType" value="None" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>