<Complex name="Root" type="Eamon.Game.DataStorage.ModuleDbTable, Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
  <Properties>
    <Collection name="Records" type="Eamon.ThirdParty.BTree`1[[Eamon.Framework.IModule, Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null]], Eamon, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
      <Properties>
        <Simple name="IsReadOnly" value="False" />
        <Simple name="AllowDuplicates" value="False" />
      </Properties>
      <Items>
        <Complex type="TheWayfarersInn.Game.Module, TheWayfarersInn, Version=1.6.0.0, Culture=neutral, PublicKeyToken=null">
          <Properties>
            <Simple name="Author" value="Michael Penner" />
            <Simple name="VolLabel" value="MRP-003" />
            <Simple name="SerialNum" value="010" />
            <Simple name="LastMod" value="2020-02-11T17:37:21.5045118-08:00" />
            <Simple name="IntroStory" value="99" />
            <Simple name="NumDirs" value="6" />
            <Simple name="NumRooms" value="1" />
            <Simple name="NumArtifacts" value="1" />
            <Simple name="NumEffects" value="13" />
            <Simple name="NumMonsters" value="1" />
            <Simple name="NumHints" value="2" />
            <Simple name="Uid" value="1" />
            <Simple name="IsUidRecycled" value="True" />
            <Simple name="Name" value="The Wayfarer's Inn" />
            <Simple name="Desc" value="The sinister Wayfarer's Inn sits abandoned and crumbling on the northern border of the hamlet of Geldhaven, in the deep forest just beyond Taiga Gorge.  A syndicate of foreign investors has bought the property, sight unseen, and set about **100" />
            <Null name="Synonyms" />
            <Simple name="Seen" value="False" />
            <Simple name="ArticleType" value="None" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
    <Collection name="FreeUids" type="System.Collections.Generic.List`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Properties>
        <Simple name="Capacity" value="0" />
      </Properties>
      <Items />
    </Collection>
    <Simple name="CurrUid" value="1" />
  </Properties>
</Complex>